.product-cards-container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin:0 auto;
}
.plans-container--slider{
    justify-content: center;
}
.main-tables-container{
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-right: calc(50% - 300px);
}